@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* A cada 1rem equivale a 10px */
    font-size: 62.5%;
}

body {
    background-color: #000;
    font-family: 'Cinzel', serif;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 10.0rem;
}

h2 {
    font-size: 4.0rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.container .load {
    padding-top: 90px;
    font-size: 4.0rem;
    color: #00FF00;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.main-section .title {
    color: #00FF00;
}

.main-section .paragraph-and-input {
    font-size: 2.0rem;
    color: #00FF00;
    padding: 55px;
}

.input {
    padding-top: 15px;
}

.input #input-one {
    font-family: 'Cinzel', serif;
    background-color: #000;
    color: #00FF00;
    font-size: 1.7rem;
    border: none;
    outline: 0;
    width: 90%;
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    /* loading */
    #image-one {
        height: 300px;
    }
}

/* loading */
@media (max-width: 593px) {
    #image-one {
        height: 270px;
    }
}

/* loading */
@media (max-width: 425px) {
    #image-one {
        height: 240px;
    }
}

/* loading */
@media (max-width: 375px) {
    html {
        font-size: 45%;
    }
    #image-one {
        height: 200px;
    }
}

@media (max-width: 352px) {
    .input #input-one {
        width: 85%;
    }
}